@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background: rgb(163, 161, 161);
        margin: 0;
        padding: 0;
    }

    .title {
        color: rgb(57, 57, 58);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-top: 200px;
    }
</style>

<div class="text-center">
    <h1 class="display-4 title">Welcome To Chat Application</h1>
</div>
